body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.main {
    margin-top: 60px;
    /* Ajuste para dar espaço para a barra de busca fixa */
    padding: 20px;
}

/* Estilo adicional para o conteúdo */
.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}